<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>HelloWorldServlet</servlet-name>
        <servlet-class>cortana.HelloWorldServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ATMWithdrawalServlet</servlet-name>
        <servlet-class>atmwithdrawal.ATMWithdrawalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ATMBalanceServlet</servlet-name>
        <servlet-class>atmbalance.ATMBalanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ATMDepositServlet</servlet-name>
        <servlet-class>atmdeposit.ATMDepositServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ATMLogonServlet</servlet-name>
        <servlet-class>atmlogon.ATMLogonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelloWorldServlet</servlet-name>
        <url-pattern>/cortana</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ATMBalanceServlet</servlet-name>
        <url-pattern>/atmbalance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ATMDepositServlet</servlet-name>
        <url-pattern>/atmdeposit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ATMLogonServlet</servlet-name>
        <url-pattern>/atmlogon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ATMWithdrawalServlet</servlet-name>
        <url-pattern>/atmwithdrawal</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.html</welcome-file>
    </welcome-file-list>
</web-app>
